$font-bg-color-general: #FFFFFF;
$bg-color-additional: #FCFCFC;
$bg-color-footer: #324B29;
$font-color-aditional: #828282;
$font-color-description-text: #0D4D14;
$color-bordedr-button: #4DB96B;
$color-bordedr-button-hover: #1e803a;
$bg-color-button: #d2f2ca;

$font-color-light-green: #9FDEA9;
$font-color-green: #6CB981;
$font-color-dark-green: #2d7b42;
$font-color-gray: #333333;

$font-size14: 14px;
$font-size16: 1rem;
$font-size18: 18px;
$font-size20: 1.25rem;
$font-size27: 27px;
$font-size60: 3.75rem;
$font-size64: 4rem;
$font-size144: 9rem;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;