@import '_root';

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.marg0{
    margin: 0;
}
.s-logo{
    text-align: center;
    font-size: $font-size64;
    font-weight: $font-weight-800;
    line-height: 96px;
    color: $font-color-aditional;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h4{
    font-size: $font-size16;
    font-weight: $font-weight-900;
    line-height: 24px;
    padding: 30px 30px 0 30px;
    color: $font-color-description-text;
}
h5{
    font-size: $font-size18;
    font-weight: $font-weight-700;
    line-height: 22px;
    color: $font-color-green;
    margin: 0 0 13px;
}
p{
    font-size: $font-size14;
    font-weight: $font-weight-400;
    line-height: 20px;
    color: $font-color-description-text;
}
a{
    text-decoration: none;
}
.RoundRock{
    width: 100%;
    min-height: 840px;
    background-image: url('images/Rectangle_grass.png');
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
}
.companyLogo{
    padding-top: 58px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.logo{
    min-width: 78px;
    min-height: 84px;
    display: inline-block;
    background-image: url('images/Lawncare.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.company{
    font-size: $font-size64;
    font-weight: $font-weight-800;
    display: inline-block;
    text-align: center;
    line-height: 67.5%;
    color: $font-bg-color-general;
}
.company>span{
    font-size: $font-size27;
    font-weight: $font-weight-800;
    line-height: 118.5%;
    letter-spacing: 0.26em;
    color: $font-bg-color-general;
}
.inputField{
    display: flex;
    justify-content: center;
}
.fname{
    padding: 18px 48px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 59px;
    border: none;
}
.fname:focus{
    color: $font-bg-color-general;
    font-size: $font-size16;
    font-weight: $font-weight-400;
}
::placeholder{
    color: $font-bg-color-general;
    text-align: center;
    font-size: $font-size18;
    font-weight: $font-weight-500;
    line-height: 27px;
}
.bigTitle{
    font-size: $font-size144;
    font-weight: $font-weight-900;
    padding: 17px 0 100px;
    line-height: 134px;
    text-align: center;
    color: $font-bg-color-general;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}
.button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.helpButton{
    display: flex;
    justify-content: center;
    padding: 21px 53px 22px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F9F9F9 100%);
    box-shadow: 0px 10px 50px rgba(16, 51, 30, 0.5);
    border-radius: 35px;
    font-size: $font-size18;
    font-weight: $font-weight-700;
    line-height: 27px;
    text-align: center;
    color: $font-color-green;
    border: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        font-size: $font-size20;
        color: $font-color-dark-green;
    }
}
.serviceBlock{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.serviceBefore{
    position: relative;
    padding-bottom: 50px;
}
.serviceBefore::before{
    content: "";
    display: block;
    width: 109px;
    height: 94px;
    position: absolute;
    background-image: url('images/3grases.png');
    background-position: center;
    background-repeat: no-repeat;
    bottom: 4px;
    left: -4px;
}
.Services{
    width: 100%;
}
.imgBlocks{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: $font-size18;
    font-weight: $font-weight-400;
}
.imgBlock{
    width: 385px;
    min-height: 290px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
    border-radius: 30px 30px 0 0;
    margin: 0 11px;
}
.grass{
    background-image: url('images/little_grass.png');
}
.flowers{
    background-image: url('images/little_flowers.png');
}
.machine{
    background-image: url('images/grass_remove.png');
}
.infoBlocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.textAbouth{
    max-width: 385px;
    background-color: $font-bg-color-general;
    box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
    border-radius: 0 0 30px 30px;
    margin: 0 11px;
}
.anyText{
    padding: 10px 30px 30px 30px;
}
.lightButton{
    background-color: $font-bg-color-general;
    box-shadow: 0px 16px 30px rgba(50, 175, 100, 0.15);
    margin-top: 50px;
    margin-bottom: 0;
}
.AboutUs{
    min-height: 732px;
    background-image: url('images/Rectangle_grass_dark.png');
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
}
.textDescription{
    width: 100%;
    padding-top: 154px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: $font-size18;
    font-weight: $font-weight-400;
}
.text{
    max-width: 360px;
    font-size: $font-size18;
    font-weight: $font-weight-600;
    line-height: 24px;
    text-align: center;
    color: $font-bg-color-general;
    margin: 0 30px;
}
.aboutAfter{
    position: relative;
    margin-bottom: 50px;
}
.aboutAfter::after{
    content: "";
    display: block;
    width: 109px;
    height: 94px;
    position: absolute;
    background-image: url('images/3grases.png');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-3.6deg);
    bottom: -45px;
    right: -65px;
}
.userFeedback{
    margin: 70px auto 50px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.userCard{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    background: $font-bg-color-general;
    border: 1px solid $font-color-green;
    border-radius: 40px;
    padding: 30px 30px 58px 124px;
    margin-bottom: 45px;
}
.userText{
    position: relative;
}
.userText::before{
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url('images/userAv.png');
    background-position: center;
    background-repeat: no-repeat;
    left: -94px;
    top: -40px;
}
.userText::after{
    content: "";
    display: block;
    width: 114px;
    height: 18px;
    position: absolute;
    background-image: url('images/stars.png');
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    bottom: -28px;
}
.ContactUs{
    background-color: $bg-color-additional;
    margin-top: 5px;
}
.contactBlock{
    margin: 70px auto 0;
    width: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 52.5px;
}
.contactForm{
    width: 50%;
    display: flex;
    justify-content: center;
}
.companyContacts{
    width: 50%;
}
.pContacts{
    font-size: $font-size14;
    font-weight: 500;
    line-height: 17px;
    color: $font-color-gray;
    &:hover{
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
        color: #044916;
    }
}

.formField{
    background: $font-color-light-green;
    border-radius: 61px;
    border: none;
    margin-bottom: 14px;
    padding: 16px 53px;
}
.emptyButton{
    border: 3px solid $color-bordedr-button;
    border-radius: 61px;
    padding: 16px 53px;
    background-color: $bg-color-additional;
    display: block;
    margin: 0 auto;
    &:hover{
        border: 3px solid $color-bordedr-button-hover;
        border-radius: 61px;
        padding: 21px 53px;
        background-color: $bg-color-button;
        cursor: pointer;        
    }
}
.mailCont{
    position: relative;
    padding: 30px 0 0 44px;
    &::before{
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        background-image: url('images/mail.png');
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
    }
}
.phoneCont{
    position: relative;
    padding: 30px 0 0 44px;
    &::before{
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        background-image: url('images/call.png');
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
    }
}
.addressCont{
    position: relative;
    padding: 30px 0 30px 44px;
    &::before{
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        background-image: url('images/location-on.png');
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
    }
}

footer{
    width:100%;
    height: 145px;
    background-color: $bg-color-footer;
}
@media screen and (min-width: 1024px) and (max-width: 1920px){
    .bigTitle{
        font-size: 7rem;
    }
    .helpButton,
    .helpButton:hover{
        font-size: 2rem;
    }
    h4{
        font-size: 2rem;
        padding: 30px 30px 30px 30px;
    }
    p{
        font-size: 1.5rem;
        line-height: 30px;
        font-weight: 500;
    }
    .textDescription{
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 0;
    }
    .mediaButton{
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .text{
        max-width: 60%;
        line-height: 30px;
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .userFeedback {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }
  }