*{
    box-sizing: border-box;
}
:root{
    --font-color-general: #FFFFFF;
    --font-color-aditional: #828282;
    --font-color-description: #0D4D14;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.s-logo{
    margin: 0;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    line-height: 96px;
    color: #828282;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.RoundRock{
    width: 100%;
    min-height: 840px;
    background-image: url('images/Rectangle_grass.png');
    background-position: center;
    background-repeat: no-repeat;
}
.companyLogo{
    padding-top: 58px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.logo{
    min-width: 78px;
    min-height: 84px;
    display: inline-block;
    background-image: url('images/Lawncare.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.company{
    font-weight: 800;
    font-size: 60px;
    display: inline-block;
    text-align: center;
    line-height: 67.5%;
    color: #FFFFFF;
}
    .company>span{
    font-weight: 800;
    font-size: 27px;
    line-height: 118.5%;
    letter-spacing: 0.26em;
    color: #FFFFFF;
}
.inputField{
    display: flex;
    justify-content: center;
}
.fname{
    padding: 18px 48px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 59px;
    
}
::placeholder{
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    border: none;
}
.bigTitle{
    font-weight: 900;
    font-size: 144px;
    padding: 17px 0 100px;
    line-height: 134px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}
.button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 116px;
}
.helpButton{
    display: flex;
    justify-content: center;


    padding: 21px 53px 22px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F9F9F9 100%);
    box-shadow: 0px 10px 50px rgba(16, 51, 30, 0.5);
    border-radius: 35px;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #6CB981;
    border: none;
    cursor: pointer;
    /* margin-bottom: 117px;*/ 
}
.serviceBlock{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
.serviceBefore{
    position: relative;
    padding-bottom: 50px;
}
.serviceBefore::before{
    content: "";
    display: block;
    width: 109px;
    height: 94px;
    background-image: url('images/3grases.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 4px;
    left: -4px;
}
.Services{
    width: 100%;
   /* display: flex;
    justify-content: space-between;
    background-color: #386E41;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 33px 29px 38px; */
}
.imgBlocks{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

    font-size: 18px;
    font-weight: 400;
}
.imgBlock{
    min-width: 385px;
    min-height: 290px;
    background-position: center;
    background-repeat: no-repeat;
}
.grass{
    background-image: url('images/little_grass.png');
}
.flowers{
    background-image: url('images/little_flowers.png');
    margin: 0 22px;
}
.machine{
    background-image: url('images/grass_remove.png');
}
.infoBlocks{
    min-width: 385px;
    min-height: 290px;
}

.AboutUs{
    min-height: 732px;
    background-image: url('images/Rectangle_grass_dark.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.textDescription{
    width: 100%;
    padding-top: 154px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: 400;
}
.text{
    width: 19%;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 30px;
}














/*


.s-logo::before{
    content: "";
    display: block;
    width: 109px;
    height: 94px;
    background-image: url('images/3grases.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    left: 4px;
    top: 48px;
}
.infoBlocks{
    width: 63%;
}
.imgBlock{
    width: 32%;
    margin: 0 auto;
    text-align: center;
    
}
.grass{
    width: 385px;
height: 290px;
    background-image: url('images/little_grass.png');
    background-position: center;
    background-repeat: no-repeat;
}
.flowers{
    width: 385px;
height: 290px;
    background-image: url('images/little_flowers.png');
    background-position: center;
    background-repeat: no-repeat;
}
.machine{
    width: 385px;
height: 290px;
    background-image: url('images/grass_remove.png');
    background-position: center;
    background-repeat: no-repeat;
}
*/