*{
    box-sizing: border-box;
    margin: 0 auto;
}
:root{
    --font-color-general: #FFFFFF;
    --font-color-aditional: #828282;
    --font-color-description: #0D4D14;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
.RoundRock{
    width: 100%;
    min-height: 840px;
    background-image: url(../images/Rectangle_grass.png);
    background-position: center;
    background-repeat: no-repeat;
}